global
  chroot  /var/lib/haproxy
  daemon
  group  root
  log  /dev/log local0 notice
  master-worker
  maxconn  8000
  pidfile  /var/run/haproxy.pid
  server-state-base  /var/lib/haproxy/state
  stats  socket /run/haproxy/admin.sock mode 660 level admin
  stats  timeout 30s
  user  root

defaults
  load-server-state-from-file  local
  log  global
  maxconn  1000000
  mode  tcp
  option  log-separate-errors
  option  tcplog
  retries  6
  timeout  http-request 10s
  timeout  queue 1m
  timeout  connect 3s
  timeout  client 30m
  timeout  server 30m
  timeout  check 5s
  timeout  tunnel 30m
  timeout  client-fin 10s

listen read-write
    bind *:3000
    option httpchk GET /read-write
    default-server fall 5 inter 1000 rise 5 downinter 1000 on-marked-down shutdown-sessions weight 10 maxconn 2000
{% raw %}
{{- range service "cluster0|any" }}
    server {{ .Node }} {{ .Address }}:5432 check port 8008{{ end }}
{% endraw %}


listen read-only
    bind *:4000
    option httpchk GET /read-only
    default-server fall 5 inter 1000 rise 5 downinter 1000 weight 10 maxconn 2000
{% raw %}
{{- range service "cluster0|any" }}
    server {{ .Node }} {{ .Address }}:5432 check port 8008{{ end }}
{% endraw %}
