    mode                            http
    option                          httplog
    option                          http-server-close
    option forwardfor except        127.0.0.0/8
    option                          redispatch
    option                          abortonclose
    option                          http-use-htx
    option                          httplog
    option                          logasap
    http-reuse                      always
    balance                         roundrobin
    log-format                      "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r"
