listen query-frontend
    bind                            {{ private_ip }}:{{ cortex_query_frontend_port|default(9090) }}

{% include 'haproxy-http-listen-options.j2' %}

    option  httpchk GET /ready

{%- raw -%}
{{ range service "query-frontend.cortex|any" }}
    server {{ .Node }} {{ .Address }}:{{ .Port }} check{{ end }}
{%- endraw -%}
