listen m3coordinator
    bind                            {{ private_ip }}:{{ m3coordinator_topology_port|default(7201)}}
    mode                            http

{% include 'haproxy-http-listen-options.j2' %}

    option httpchk GET /health

{%- raw -%}
{{ range service "m3coordinator|any" }}
    server {{ .Node }} {{ .Address }}:7201 check{{ end }}
{%- endraw -%}
