listen query-frontend
    bind                            {{ private_ip }}:{{ cortex_query_frontend_port|default(9090) }}

{% include 'haproxy-http-listen-options.j2' %}

    option  httpchk GET /ready
    # Enable all backups in case of failover
    option  allbackups

{%- raw -%}
{{ range service "query-frontend.cortex|any" }}
    server {{ .Node }} {{ .Address }}:{{ .Port }} check{{ end }}
{%- endraw -%}
{%- raw -%}
{{ range service "querier.cortex|any" }}
    server {{ .Node }} {{ .Address }}:{{ .Port }} check backup{{ end }}
{%- endraw -%}
