    option                          httplog
    option                          http-server-close
    option forwardfor except        127.0.0.0/8
    option                          redispatch
    balance                         roundrobin
