listen pg_rw
    bind    {{ private_ip }}:{{ pg_ro_frontend_port|default(3000) }}

{% include 'haproxy-tcp-listen-options.j2' %}

    option  httpchk GET /read-write
{{ '{{' }}range service "cluster{{ cluster_id }}|any" {{ '}}' }}
{% raw -%}
    server {{ .Node }} {{ .Address }}:{{ .Port }} check port 8008{{ end }}
{% endraw %}
