[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openstacksdk = "*"
python-openstackclient = "*"
python-swiftclient = "*"
ansible = ">=2.9,<2.10"

[dev-packages]

[requires]
python_version = "3"
