---
prometheus_version: 2.30.2
prometheus_web_external_url: "http://{{ ansible_host }}:9090"
prometheus_storage_retention: 1d
prometheus_storage_retention_size: 250GB
prometheus_external_labels:
  __replica__: "{{ ansible_hostname }}"
  cluster: "{{ cluster_id | default('default')}}"

prometheus_remote_promscale:
  write:
    url: http://rw.promscale.service.dc1.consul:9201/write
    name: timescaledb
    remote_timeout: 60s
    # https://github.com/timescale/promscale/blob/master/docs/configuring_prometheus.md
    queue_config:
      capacity: 10000
      max_samples_per_send: 3000
      max_shards: 200
      min_shards: 4
      batch_send_deadline: 30s
      min_backoff: 100ms
      max_backoff: 10s
  read:
    url: http://ro.promscale.service.dc1.consul:9201/read
    name: timescaledb

prometheus_remote_victoriametrics:
  write:
    url: http://rw.victoriametrics.service.dc1.consul:8480/insert/0/prometheus
    name: victoriametrics
  read:
    url: http://ro.victoriametrics.service.dc1.consul:8481/select/0/prometheus
    name: victoriametrics

prometheus_remote_m3db:
  write:
    url: http://rw.m3coordinator-lb.service.dc1.consul:7201/api/v1/prom/remote/write
    name: m3db
  read:
    url: http://ro.m3query.service.dc1.consul:7201/api/v1/prom/remote/read
    name: m3db

prometheus_remote_cortex:
  write:
    url: http://rw.cortex.service.dc1.consul:9009/api/v1/push
    name: cortex
    send_exemplars: true
    queue_config:
      max_samples_per_send: 1000
      retry_on_http_429: true
  read:
    # TODO: use loadbalancer in front of query-frontend instance instead of dns
    # load balancing
    url: http://query-frontend.cortex.service.dc1.consul:9009/prometheus/api/v1/read
    name: cortex

prometheus_scrape_configs:
  - job_name: node-exporter
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [node-exporter]
  - job_name: node-exporter-bench
    metrics_path: /metrics
    file_sd_configs:
      - files:
          - /etc/prometheus/file_sd/*.yml
  - job_name: victoriametrics
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [victoriametrics]
        tags: ['insert', 'select', 'storage']
  - job_name: postgresql
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [postgresql-exporter]
  - job_name: grafana
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [grafana]
  - job_name: haproxy
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [haproxy]
  - job_name: prometheus
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [prometheus]
  - job_name: promscale
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [promscale]
        tags: ['node']
  - job_name: promtail
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [promtail]
  - job_name: loki
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [loki]
  - job_name: etcd
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [etcd]
  - job_name: m3db
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [m3coordinator, m3dbnode, m3query, m3aggregator]
  - job_name: cortex
    metrics_path: /metrics
    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label: hostname
      - source_labels: [__meta_consul_node]
        target_label: instance
      - source_labels: [__meta_consul_dc]
        target_label: dc
    consul_sd_configs:
      - server: 'localhost:8500'
        services: [cortex]
