---
grafana_security:
  admin_user: "{{ grafana_admin_user }}"
  admin_password: "{{ grafana_admin_password }}"

grafana_datasources:
  - name: "Prometheus"
    type: "prometheus"
    access: "proxy"
    url: "http://prometheus-0.node.consul:9090"
    isDefault: true

  - name: "VictoriaMetrics"
    type: "prometheus"
    access: "proxy"
    url: "http://ro.victoriametrics.service.dc1.consul:8481/select/0/prometheus"

  - name: "promscale"
    type: "prometheus"
    access: "proxy"
    url: "http://ro.promscale.service.dc1.consul:9201"

  - name: "cortex"
    type: "prometheus"
    access: "proxy"
    url: "http://ro.cortex.service.dc1.consul:9009/prometheus"

  - name: "timescaledb"
    type: "postgres"
    sslmode: "require"
    access: "proxy"
    url: "ro.timescaledb.service.dc1.consul:4000"
    database: "timescale"
    user: "timescale"
    password: "timescale"
    jsonData:
      sslmode: require
      timescaledb: true
      postgresVersion: 1200

  - name: "loki"
    type: "loki"
    access: "proxy"
    url: "http://loki.service.service.dc1.consul:3100"

grafana_plugins:
  - grafana-worldmap-panel
  - grafana-piechart-panel
  - digiapulssi-breadcrumb-panel

grafana_dashboards:
  # Prometheus Node Exporter Full
  - dashboard_id: 1860
    revision_id: 21
    datasource: Prometheus
  # Prometheus - cluster
  - dashboard_id: 11176
    revision_id: 8
    datasource: Prometheus
  # Postgres Overview
  - dashboard_id: 455
    revision_id: 2
    datasource: Prometheus
  # HAproxy Servers | HAproxy
  - dashboard_id: 367
    revision_id: 3
    datasource: Prometheus
  # HAproxy Backend | HAproxy
  - dashboard_id: 364
    revision_id: 3
    datasource: Prometheus
  # HAproxy Frontend | HAproxy
  - dashboard_id: 361
    revision_id: 3
    datasource: Prometheus
  # Prometheus 2.0 Overview
  - dashboard_id: 3662
    revision_id: 2
    datasource: Prometheus

grafana_dashboards_dir: files/grafana/dashboards/


# See:
# https://github.com/opstrace/opstrace/tree/be59d0eb45d55045bea1e06f494d0a00280af9cd/packages/controller/src/resources/monitoring/system/dashboards
