#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# https://cortexmetrics.io/docs/configuration/configuration-file/

target: {{ cortex_target }}
auth_enabled: {{ cortex_auth_enabled }}
http_prefix: {{ cortex_http_prefix }}

api:
  {{ cortex_api | to_nice_yaml(indent=2) | indent(2, False) }}
server:
  {{ cortex_server | to_nice_yaml(indent=2) | indent(2, False) }}
distributor:
  {{ cortex_distributor | to_nice_yaml(indent=2) | indent(2, False) }}
querier:
  {{ cortex_querier | to_nice_yaml(indent=2) | indent(2, False) }}
ingester_client:
  {{ cortex_ingester_client | to_nice_yaml(indent=2) | indent(2, False) }}
ingester:
  {{ cortex_ingester | to_nice_yaml(indent=2) | indent(2, False) }}
flusher:
  {{ cortex_flusher | to_nice_yaml(indent=2) | indent(2, False) }}
storage:
  {{ cortex_storage | to_nice_yaml(indent=2) | indent(2, False) }}
chunk_store:
  {{ cortex_chunk_store | to_nice_yaml(indent=2) | indent(2, False) }}
schema:
  {{ cortex_schema | to_nice_yaml(indent=2) | indent(2, False) }}
limits:
  {{ cortex_limits | to_nice_yaml(indent=2) | indent(2, False) }}
prealloc:
  {{ cortex_prealloc | to_nice_yaml(indent=2) | indent(2, False) }}
frontend_worker:
  {{ cortex_frontend_worker | to_nice_yaml(indent=2) | indent(2, False) }}
frontend:
  {{ cortex_frontend | to_nice_yaml(indent=2) | indent(2, False) }}
query_range:
  {{ cortex_query_range | to_nice_yaml(indent=2) | indent(2, False) }}
query_scheduler:
  {{ cortex_query_scheduler | to_nice_yaml(indent=2) | indent(2, False) }}
table_manager:
  {{ cortex_table_manager | to_nice_yaml(indent=2) | indent(2, False) }}
blocks_storage:
  {{ cortex_blocks_storage | to_nice_yaml(indent=2) | indent(2, False) }}
compactor:
  {{ cortex_compactor | to_nice_yaml(indent=2) | indent(2, False) }}
store_gateway:
  {{ cortex_store_gateway | to_nice_yaml(indent=2) | indent(2, False) }}
purger:
  {{ cortex_purger | to_nice_yaml(indent=2) | indent(2, False) }}
tenant_federation:
  {{ cortex_tenant_federation | to_nice_yaml(indent=2) | indent(2, False) }}
ruler:
  {{ cortex_ruler | to_nice_yaml(indent=2) | indent(2, False) }}
ruler_storage:
  {{ cortex_ruler_storage | to_nice_yaml(indent=2) | indent(2, False) }}
configs:
  {{ cortex_configs | to_nice_yaml(indent=2) | indent(2, False) }}
alertmanager:
  {{ cortex_alertmanager | to_nice_yaml(indent=2) | indent(2, False) }}
alertmanager_storage:
  {{ cortex_alertmanager_storage | to_nice_yaml(indent=2) | indent(2, False) }}
runtime_config:
  {{ cortex_runtime_config | to_nice_yaml(indent=2) | indent(2, False) }}
memberlist:
  {{ cortex_memberlist | to_nice_yaml(indent=2) | indent(2, False) }}
